<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <div class="card post-card mb-5">
      <div class="header-image" style="background-image: url(<%= url_for(@post.header_image) %>)"></div>
      <div class="card-body">
        <div class="pl-5 pr-5 pt-4 pb-4">
          <h1 class="card-title mb-5"><%= @post.title %></h1>
          <% @post.elements.each do |element| %>
            <% if element.image? %>
              <div class="image-element mb-5">
                <%= image_tag(element.image) %>
              </div>
            <% else %>
              <div class="content-element mb-5">
                <%= element.content %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
